In [126]:
# This command (%matplotlib inline) simply ensures that any plot we produce in this notebook is immediately displayed on screen, 
# directly below the code that created it.
%matplotlib inline

try:
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    import matplotlib.pyplot as plt
    import seaborn as sns
except ModuleNotFoundError as err:
    print("Python says:", err, "... possibly because it isn't installed on your system?")
except:
    print("Some other error occurred when importing.")
else:
    print("Imports successful!")
    sns.set()

Imports successful!

In [127]:
# Read the data in, from a CSV file, and store the data in a DataFrame.
# The DataFrame created will take on the column names as they are provided in the file.
joven = pd.read_csv('COVIDjovenes.csv')

In [128]:
type(joven)

pandas.core.frame.DataFrame

In [129]:
joven.shape

(229, 35)

In [130]:
#Print contents
joven

,Unnamed: 0,edad,genero,roomies -25,roomies 26-59,roomies +60,con quien vive,estado civil,escalaridad jefa de fam,baños,...,identificación,viñeta juan y beto,viñeta maria lucia,personas en riesgo,personas contagiadas en casa,# nivel socioeconomico.,nivel socioeconomico,suma día que se sale,días no sociales,días sociales
0,NaN,18,Mujer,2,2,NaN,"Madre, Hermanas, hermanos",Soltera/soltero,73,55,...,No salgo a reuniones.,Me identifico con Beto,Me identifico con María,0.0,Sí,74.85380117,3,2.0,2,0.0
1,NaN,20,Mujer,3,3,0.0,"Madre, Hermanas, hermanos",Soltera/soltero,31,55,...,De vez en cuando salgo a reuniones con 2 a 6 p...,Me identifico con Juan,No me identifico con ninguna,0.0,Sí,50.29239766,2,5.5,0,5.5
2,NaN,20,Hombre,2,2,0.0,"Madre, Padre, Hermanas, hermanos",Soltera/soltero,101,55,...,De vez en cuando salgo a reuniones con 2 a 6 p...,Me identifico un poco con Beto,Me identifico con María,1.0,Sí,91.22807018,4,4.0,2,2.0
3,NaN,20,Mujer,1,3,0.0,"Madre, Padre, Hermanas, hermanos",Soltera/soltero,59,70,...,No salgo a reuniones.,Me identifico con Beto,Me identifico con María,0.0,No,75.43859649,3,8.0,6,2.0
4,NaN,20,Hombre,2,2,0.0,"Madre, Padre, Hermanas, hermanos",Soltera/soltero,101,55,...,De vez en cuando salgo a reuniones con 2 a 6 p...,Me identifico un poco con Beto,Me identifico con María,1.0,Sí,91.22807018,4,4.0,2,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,NaN,20,Mujer,1,2,0.0,"Madre, Hermanas, hermanos, Persona(s) sin pare...",Soltera/soltero,73,70,...,De vez en cuando salgo a reuniones con 7 perso...,Me identifico con Juan,Me identifico con María,0.0,Sí,83.62573099,4,24.0,6,18.0
225,NaN,18,Hombre,2,1,0.0,"Madre, Hermanas, hermanos",Soltera/soltero,101,40,...,No salgo a reuniones.,Me identifico un poco con Beto,Me identifico con María,2.0,No,82.45614035,4,16.5,7,14.5
226,NaN,20,Mujer,1,2,0.0,"Madre, Hermanas, hermanos, Persona(s) sin pare...",Soltera/soltero,73,70,...,De vez en cuando salgo a reuniones con 7 perso...,Me identifico con Juan,Me identifico con María,0.0,Sí,83.62573099,4,24.0,6,18.0
227,NaN,18,Mujer,2,4,0.0,"Madre, Padre, Hermanas, hermanos, Persona(s) s...",Soltera/soltero,73,70,...,De vez en cuando salgo a reuniones con 7 perso...,Me identifico un poco con Juan,Me identifico con Lucía,2.0,No estoy seguro/No sabe,83.62573099,4,23.0,14,9.0
228,NaN,19,Mujer,2,2,0.0,"Madre, Padre, Hermanas, hermanos",Soltera/soltero,73,55,...,NaN,Me identifico con Juan,Me identifico con Lucía,0.0,No,74.85380117,3,6.0,11,0.0

In [131]:
joven.head()

,Unnamed: 0,edad,genero,roomies -25,roomies 26-59,roomies +60,con quien vive,estado civil,escalaridad jefa de fam,baños,...,identificación,viñeta juan y beto,viñeta maria lucia,personas en riesgo,personas contagiadas en casa,# nivel socioeconomico.,nivel socioeconomico,suma día que se sale,días no sociales,días sociales
0,NaN,18,Mujer,2,2,NaN,"Madre, Hermanas, hermanos",Soltera/soltero,73,55,...,No salgo a reuniones.,Me identifico con Beto,Me identifico con María,0.0,Sí,74.85380117,3,2.0,2,0.0
1,NaN,20,Mujer,3,3,0.0,"Madre, Hermanas, hermanos",Soltera/soltero,31,55,...,De vez en cuando salgo a reuniones con 2 a 6 p...,Me identifico con Juan,No me identifico con ninguna,0.0,Sí,50.29239766,2,5.5,0,5.5
2,NaN,20,Hombre,2,2,0.0,"Madre, Padre, Hermanas, hermanos",Soltera/soltero,101,55,...,De vez en cuando salgo a reuniones con 2 a 6 p...,Me identifico un poco con Beto,Me identifico con María,1.0,Sí,91.22807018,4,4.0,2,2.0
3,NaN,20,Mujer,1,3,0.0,"Madre, Padre, Hermanas, hermanos",Soltera/soltero,59,70,...,No salgo a reuniones.,Me identifico con Beto,Me identifico con María,0.0,No,75.43859649,3,8.0,6,2.0
4,NaN,20,Hombre,2,2,0.0,"Madre, Padre, Hermanas, hermanos",Soltera/soltero,101,55,...,De vez en cuando salgo a reuniones con 2 a 6 p...,Me identifico un poco con Beto,Me identifico con María,1.0,Sí,91.22807018,4,4.0,2,2.0

In [132]:
joven.tail()

,Unnamed: 0,edad,genero,roomies -25,roomies 26-59,roomies +60,con quien vive,estado civil,escalaridad jefa de fam,baños,...,identificación,viñeta juan y beto,viñeta maria lucia,personas en riesgo,personas contagiadas en casa,# nivel socioeconomico.,nivel socioeconomico,suma día que se sale,días no sociales,días sociales
224,NaN,20,Mujer,1,2,0.0,"Madre, Hermanas, hermanos, Persona(s) sin pare...",Soltera/soltero,73,70,...,De vez en cuando salgo a reuniones con 7 perso...,Me identifico con Juan,Me identifico con María,0.0,Sí,83.62573099,4,24.0,6,18.0
225,NaN,18,Hombre,2,1,0.0,"Madre, Hermanas, hermanos",Soltera/soltero,101,40,...,No salgo a reuniones.,Me identifico un poco con Beto,Me identifico con María,2.0,No,82.45614035,4,16.5,7,14.5
226,NaN,20,Mujer,1,2,0.0,"Madre, Hermanas, hermanos, Persona(s) sin pare...",Soltera/soltero,73,70,...,De vez en cuando salgo a reuniones con 7 perso...,Me identifico con Juan,Me identifico con María,0.0,Sí,83.62573099,4,24.0,6,18.0
227,NaN,18,Mujer,2,4,0.0,"Madre, Padre, Hermanas, hermanos, Persona(s) s...",Soltera/soltero,73,70,...,De vez en cuando salgo a reuniones con 7 perso...,Me identifico un poco con Juan,Me identifico con Lucía,2.0,No estoy seguro/No sabe,83.62573099,4,23.0,14,9.0
228,NaN,19,Mujer,2,2,0.0,"Madre, Padre, Hermanas, hermanos",Soltera/soltero,73,55,...,NaN,Me identifico con Juan,Me identifico con Lucía,0.0,No,74.85380117,3,6.0,11,0.0

In [133]:
#Null values
joven.isnull()

,Unnamed: 0,edad,genero,roomies -25,roomies 26-59,roomies +60,con quien vive,estado civil,escalaridad jefa de fam,baños,...,identificación,viñeta juan y beto,viñeta maria lucia,personas en riesgo,personas contagiadas en casa,# nivel socioeconomico.,nivel socioeconomico,suma día que se sale,días no sociales,días sociales
0,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
225,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
226,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
227,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
228,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False

In [135]:
joven.isnull().sum()

Unnamed: 0                      229
edad                              0
genero                            0
roomies -25                       0
roomies 26-59                     0
roomies +60                       1
con quien vive                    2
estado civil                      0
escalaridad jefa de fam           0
baños                             0
a qué se dedica                   0
modo de trabajo                   0
días trabajo                     19
modo estudio                      0
días estudio                      4
días servicio                     2
días super                        1
realidad del covid               10
gravedad covid                    0
manejo del covid                  6
noticias covid                    5
afirmaciones covid                1
contagiado covid                  2
días reuniones                    1
 pareja                           3
identificación                    1
viñeta juan y beto                2
viñeta maria lucia                6
personas en riesgo                3
personas contagiadas en casa      3
# nivel socioeconomico.           0
nivel socioeconomico              0
suma día que se sale              0
días no sociales                  0
días sociales                     0
dtype: int64

In [136]:
salen = joven
salen = salen[salen.columns[[25,28,34]]]
salen

,identificación,personas en riesgo,días sociales
0,No salgo a reuniones.,0.0,0.0
1,De vez en cuando salgo a reuniones con 2 a 6 p...,0.0,5.5
2,De vez en cuando salgo a reuniones con 2 a 6 p...,1.0,2.0
3,No salgo a reuniones.,0.0,2.0
4,De vez en cuando salgo a reuniones con 2 a 6 p...,1.0,2.0
...,...,...,...
224,De vez en cuando salgo a reuniones con 7 perso...,0.0,18.0
225,No salgo a reuniones.,2.0,14.5
226,De vez en cuando salgo a reuniones con 7 perso...,0.0,18.0
227,De vez en cuando salgo a reuniones con 7 perso...,2.0,9.0
228,NaN,0.0,0.0

In [138]:
salen.rename(columns={'personas en riesgo': 'PRiesgo'}, inplace=True)

In [139]:
salen.isnull()

     identificación  PRiesgo  días sociales
0             False    False          False
1             False    False          False
2             False    False          False
3             False    False          False
4             False    False          False
..              ...      ...            ...
224           False    False          False
225           False    False          False
226           False    False          False
227           False    False          False
228            True    False          False

[229 rows x 3 columns]

In [140]:
salen = salen.fillna(" ")

In [141]:
salen

                                        identificación PRiesgo  días sociales
0                                No salgo a reuniones.       0            0.0
1    De vez en cuando salgo a reuniones con 2 a 6 p...       0            5.5
2    De vez en cuando salgo a reuniones con 2 a 6 p...       1            2.0
3                                No salgo a reuniones.       0            2.0
4    De vez en cuando salgo a reuniones con 2 a 6 p...       1            2.0
..                                                 ...     ...            ...
224  De vez en cuando salgo a reuniones con 7 perso...       0           18.0
225                              No salgo a reuniones.       2           14.5
226  De vez en cuando salgo a reuniones con 7 perso...       0           18.0
227  De vez en cuando salgo a reuniones con 7 perso...       2            9.0
228                                                          0            0.0

[229 rows x 3 columns]

In [142]:
salenriesgo.shape

(229, 2)

In [143]:
salenriesgo.describe()

       días sociales
count     229.000000
mean        3.923581
std         4.041676
min         0.000000
25%         1.000000
50%         2.000000
75%         5.500000
max        18.000000

In [144]:
salenriesgo.

KeyError: 'PRiesgo'